@model HotelReservetion.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HotelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
