@model IEnumerable<HotelReservetion.Models.Hotel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HotelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HotelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HotelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
